.local-translation-interface-filter-form .form-item-langcode-from,
.local-translation-interface-filter-form .form-item-langcode,
.local-translation-interface-filter-form .form-item-translation,
.local-translation-interface-filter-form .form-item-customized {
  display: inline-block;
  margin-right: 1em;
}
#local-translation-interface-edit-form tr.changed {
  background: #ffb;
}
